import(survival)
export(bayesmixsurv, bayesmixsurv.crossval, bayesmixsurv.crossval.wrapper, bayesmixsurv.generate.folds, bayesmixsurv.generate.folds.eventbalanced, bayesmixsurv.control)

S3method(predict, bayesmixsurv)
S3method(print, bayesmixsurv)
S3method(summary, bayesmixsurv)
S3method(plot, bayesmixsurv)
S3method(print, summary.bayesmixsurv)
S3method(summary, predict.bayesmixsurv)

importFrom("graphics", "abline", "hist", "legend", "lines", "par",
"plot")
importFrom("stats", ".getXlevels", "acf", "delete.response", "dgamma",
"drop.terms", "formula", "median", "model.frame",
"model.matrix", "model.response", "na.fail", "predict",
"quantile", "rexp", "rgamma", "runif", "sd")
importFrom("utils", "flush.console")
     